repos:
  - repo: local
    hooks:
      - id: mypy-poetry
        name: mypy (via Poetry)
        entry: poetry run mypy src
        language: system
        types: [python]
        pass_filenames: false
        always_run: true
        verbose: true

  - repo: https://github.com/python-poetry/poetry
    rev: 1.8.3
    hooks:
      - id: poetry-check
