services:
  traefik:
    image: traefik:v3.0
    container_name: traefik
    restart: always
    ports:
      - "80:80"
      - "443:443"
      - "8081:8080"
    volumes:
      - ./traefik.yml:/etc/traefik/traefik.yml:ro
      - traefik_letsencrypt:/letsencrypt
      - /var/run/docker.sock:/var/run/docker.sock:ro

  api:
    build: .
    container_name: fastapi_app
    env_file:
      - .env
    depends_on:
      - evolution-api
    #   evolution-api:
    #     condition: service_healthy 
    restart: always
    ports:
      - "8000:8000"
    expose:
      - "8000"
    labels:
      - traefik.enable=true
      - traefik.http.routers.api.rule=Host(`api.maria.alemdatech.com`)
      - traefik.http.routers.api.entrypoints=websecure
      - traefik.http.routers.api.tls.certresolver=le
      - traefik.http.services.api.loadbalancer.server.port=8000

  evolution-api:
    container_name: evolution_api
    image: atendai/evolution-api
    restart: always
    ports:
      - "8080:8080"
    env_file:
      - .env
    volumes:
      - evolution_store:/evolution/store
      - evolution_instances:/evolution/instances
    depends_on:
      - database
    # healthcheck:
    #   test: ["CMD", "wget", "-qO-", "http://localhost:8080/health"]
    #   interval: 30s
    #   timeout: 5s
    #   retries: 3
    #   start_period: 10s

  database:
    container_name: postgres_db
    image: postgres:latest
    restart: always
    ports:
      - "5432:5432"
    env_file:
      - .env
    volumes:
      - postgres_data:/var/lib/postgresql/data
    command: >
      postgres -c tcp_keepalives_idle=60
              -c tcp_keepalives_interval=30
              -c tcp_keepalives_count=5
    # healthcheck:
    #   test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB"]
    #   interval: 10s
    #   timeout: 3s
    #   retries: 5
    #   start_period: 5s

volumes:
  evolution_store:
  evolution_instances:
  traefik_letsencrypt:
  postgres_data:
    driver: local