services:
  traefik:
    image: traefik:v3.0
    cpus: "0.25"
    mem_limit: "256m"
    pids_limit: 256
    container_name: traefik
    restart: always
    ports:
      - "80:80"
      - "443:443"
      - "8081:8080"
    volumes:
      - ./traefik.yml:/etc/traefik/traefik.yml:ro
      - traefik_letsencrypt:/letsencrypt
      - /var/run/docker.sock:/var/run/docker.sock:ro

  maria_prisma_web:
    build: ./web
    init: true
    pids_limit: 256
    cpus: "0.25"
    mem_limit: "256m"
    container_name: maria_web
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.maria_prisma_web.rule=Host(`app.alemdatech.com`)"
      - "traefik.http.routers.maria_prisma_web.entrypoints=websecure"
      - "traefik.http.routers.maria_prisma_web.tls.certresolver=le"
      - "traefik.http.services.maria_prisma_web.loadbalancer.server.port=80"

  api:
    build: .
    mem_limit: "512m"
    cpus: "1.0"
    pids_limit: 512
    mem_reservation: "384m"
    container_name: fastapi_app
    init: true
    env_file:
      - .env
    depends_on:
      - evolution-api
    #   evolution-api:
    #     condition: service_healthy 
    restart: always
    ports:
      - "8000:8000"
    expose:
      - "8000"
    labels:
      - traefik.enable=true
      - traefik.http.routers.api.rule=Host(`api.maria.alemdatech.com`)
      - traefik.http.routers.api.entrypoints=websecure
      - traefik.http.routers.api.tls.certresolver=le
      - traefik.http.services.api.loadbalancer.server.port=8000

  evolution-api:
    container_name: evolution_api
    init: true
    image: atendai/evolution-api
    mem_limit: "768m"
    cpus: "1.0"
    pids_limit: 1024
    mem_reservation: "512m"
    restart: always
    ports:
      - "8080:8080"
    env_file:
      - .env
    volumes:
      - evolution_store:/evolution/store
      - evolution_instances:/evolution/instances
    depends_on:
      - database
    # healthcheck:
    #   test: ["CMD", "wget", "-qO-", "http://localhost:8080/health"]
    #   interval: 30s
    #   timeout: 5s
    #   retries: 3
    #   start_period: 10s

  database:
    container_name: postgres_db
    image: postgres:latest
    mem_limit: "1g"
    cpus: "1.0"
    pids_limit: 2048
    mem_reservation: "768m"
    restart: always
    # ports:
    #   - "5432:5432"
    env_file:
      - .env
    volumes:
      - postgres_data:/var/lib/postgresql/data
    command: >
      postgres -c tcp_keepalives_idle=60
              -c tcp_keepalives_interval=30
              -c tcp_keepalives_count=5
              -c idle_in_transaction_session_timeout=60000
    # healthcheck:
    #   test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB"]
    #   interval: 10s
    #   timeout: 3s
    #   retries: 5
    #   start_period: 5s

volumes:
  evolution_store:
  evolution_instances:
  traefik_letsencrypt:
  postgres_data:
    driver: local