services:
  api:
    build: .
    container_name: fastapi_app
    env_file:
      - .env
    depends_on:
      evolution-api:
        condition: service_healthy 
    # depends_on:
    #   - database
    #   - evolution-api
    restart: always
    ports:
      - "8000:8000"

  evolution-api:
    container_name: evolution_api
    image: atendai/evolution-api
    restart: always
    ports:
      - "8080:8080"
    env_file:
      - .env
    volumes:
      - evolution_store:/evolution/store
      - evolution_instances:/evolution/instances
    depends_on:
      - database
    healthcheck:
      test: ["CMD", "wget", "-qO-", "http://localhost:8080/health"]
      interval: 30s
      timeout: 5s
      retries: 3
      start_period: 10s

  database:
    container_name: postgres_db
    image: postgres:latest
    restart: always
    ports:
      - "5432:5432"
    env_file:
      - .env
    volumes:
      - postgres_data:/var/lib/postgresql/data
    command: >
      postgres -c tcp_keepalives_idle=60
              -c tcp_keepalives_interval=30
              -c tcp_keepalives_count=5
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB"]
      interval: 10s
      timeout: 3s
      retries: 5
      start_period: 5s

volumes:
  evolution_store:
  evolution_instances:
  postgres_data:
    driver: local