entryPoints:
  web:
    address: ":80"
    http:
      redirections:
        entryPoint:
          to: websecure
          scheme: https
  websecure:
    address: ":443"

certificatesResolvers:
  le:
    acme:
      email: "leonardo.leitemeira10@gmail.com"
      storage: "/letsencrypt/acme.json"
      tlsChallenge: {}

providers:
  docker:
    exposedByDefault: false
api:
  dashboard: true